.app-table {
  display: block;
  border: 0.1rem solid var(--clr__light-gray);
  border-radius: 1.6rem;

  &__title {
    display: none;
    font-size: 1.4rem;
  }

  &__head,
  &__row {
    display: grid;
    grid: auto / auto-flow minmax(0, 1fr);
    gap: 2.4rem;
  }

  &__head {
    border-bottom: 0.1rem solid var(--clr__light-gray);
    color: var(--clr__text-muted);
    font-size: 1.2rem;
    font-weight: 300;
  }

  .app-table__head > span {
    padding: 2.4rem 2rem;
  }

  .app-table__row {
    align-items: flex-start;
    padding: 1.4rem 0;
    border-top: 0.1rem solid var(--clr__light-gray);
    font-size: 1.4rem;

    &:first-child {
      border: none;
    }
  }

  &__cell {
    display: flex;
    min-width: 0;
    padding: 0 2rem;

    &-date {
      padding-right: 0.8rem;
    }

    &-time {
      color: var(--clr__text-muted);
    }

    &-tag {
      padding: 0.4rem 1rem;
      background-color: var(--clr__azureish-white);
      color: var(--clr__text);
      border-radius: 0.4rem;
    }

    &-txt {
      @include ellipsis(inline-block);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--clr__action);
  }

  &__time {
    display: flex;
    flex-direction: column;
  }

  &__empty-stub {
    margin: 10rem 0;
    text-align: center;
  }
}
.blocks-list__table-head,
.blocks-list__table-row {
  grid:
    auto /
    minmax(3rem, 1fr)
    minmax(14rem, 1fr)
    minmax(6rem, 1fr)
    minmax(8rem, 2fr);
}
.top-accounts__table-head,
.accounts-line {
  grid:
    auto /
    minmax(2rem, 0.5fr)
    minmax(8rem, 5fr)
    minmax(8rem, 2fr)
    minmax(8rem, 2fr)
    minmax(8rem, 2fr);
}

.validators-view__table-head,
.validators-view-table-row {
  gap: 2rem;
  grid:
    auto /
    minmax(2rem, 5rem)
    minmax(5rem, 1.25fr)
    minmax(6rem, 1fr)
    minmax(8rem, 1fr)
    minmax(6rem, 1fr)
    minmax(8rem, 1.25fr);
}
.validators-view__table--inactive {
  .validators-view__table-head,
  .validators-view-table-row {
    gap: 2rem;
    grid:
      auto /
      minmax(2rem, 5rem)
      minmax(5rem, 1.5fr)
      minmax(6rem, 1.5fr)
      minmax(8rem, 1fr)
      minmax(6rem, 1fr);
  }
}
.delegators-table__table-head,
.delegators-table__table-row {
  grid:
    auto /
    minmax(8rem, 4fr)
    minmax(8rem, 2fr);
}
@include respond-to(tablet) {
  .app-table {
    &__head {
      display: none;
    }

    &__title {
      display: inline-block;
      min-width: 15rem;
      margin-right: 2.4rem;
      font-weight: 300;
    }

    &__row {
      grid: none;
      padding: 3.4rem 0 1.6rem;
    }
  }
  .validators-view__table--inactive {
    .validators-view__table-head,
    .validators-view-table-row {
      grid: none;
    }
  }
  .blocks-list__table-row,
  .accounts-line,
  .validators-view__table-row,
  .delegators-table__table-row {
    grid: none;
  }
}
