.app {
  &__main-section {
    padding-top: 3rem;
    padding-bottom: 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__container {
    width: 100%;
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    @include respond-to(x-small) {
      padding: 0 1.6rem;
    }
  }

  // MAIN-VIEW
  &__main-view {
    width: 100%;
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    @include respond-to(x-small) {
      padding: 0 1.6rem;
    }
  }

  &__main-view-subtitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    @include respond-to(tablet) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__main-view-title {
    font-size: 3.2rem;
    line-height: 4.6rem;
    font-weight: 400;
    @include respond-to(tablet) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  &__main-view-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.2rem;
    @include respond-to(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.app__main-view-table-header {
  display: flex;
  align-items: center;
  margin-bottom: 4.2rem;
}

.app__main-view-table-header-prefix {
  width: 56px;
  height: 56px;
  padding: 1.6rem;
  background-color: var(--clr__azureish-white);
  border-radius: 0.8rem;
}

.app__main-view-table-header-prefix > span {
  color: var(--clr__secondary);
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
}

.app__main-view-table-header-info {
  margin-left: 1.6rem;
}

.app__main-view-table-header-info-title {
  font-size: 2.4rem;
  font-weight: 400;
}

.app__main-view-table-header-info-count {
  color: var(--clr__text-muted);
  font-size: 1.6rem;
}
